<div>
<%= form_tag restaurant_results_path, method: "get" do %>
  <%= label_tag(:area_id, "Which area are you looking at?") %>
  <%= select_tag "area_id", options_from_collection_for_select(Area.all, "id", "name", params[:area_id]), include_blank: true %> <br><br>
  <%= label_tag(:craving_id, "What are you craving?") %>
  <%= select_tag "craving_id", options_from_collection_for_select(Craving.all, "id", "name", params[:craving_id]), include_blank: true %> <br><br>
  <%= label_tag(:price_id, "How much are you willing to spend?") %>
  <%= select_tag "price_id", options_from_collection_for_select(Price.all, "id", "name", params[:price_id]), include_blank: true %> <br><br>
  <%= label_tag(:occasion_id, "Anything else we should know?") %>
  <%= select_tag "occasion_id", options_from_collection_for_select(Occasion.all, "id", "name", params[:occasion_id]), include_blank: true %> <br><br>
  <%= submit_tag("GET READY TO BRUNCH!") %>
<% end %>
</div>
