<h2>ANALYTICS</h2>

<span id="boldything">BY CRAVING:</span>
<br><br>
Highest number of:<br><br>
<% @cravings.each do |craving| %>
  <%= "#{craving.name} restaurants are in:" %>
  <%= craving.area_with_most_x_restaurants %> <br><br>
<% end %><br><br>

<span id="boldything">BY PRICE: </span>
<br><br>
If you're:<br><br>
<% @prices.each do |price| %>
  <%= "#{price.name},  go => " %>
  <%= price.area_with_price_x_restaurants %> <br><br>
<% end %><br><br>


<span id="boldything"> BY OCCASION: </span>
<br><br>
Highest number of:<br><br>
<% @occasions.each do |occasion| %>
  <%= "#{occasion.name} restaurants are in:" %>
  <%= occasion.area_with_occasion_x_restaurants %> <br><br>
<% end %><br><br>
