<h2>ANALYTICS</h2>

BY CRAVING:
<br><br>
Highest number of:<br><br>
<% @cravings.each do |craving| %>
  <%= "#{craving.name} restaurants are in:" %>
  <%= craving.area_with_most_x_restaurants %> <br><br>
<% end %><br><br>

BY PRICE:
<br><br>
Highest number of:<br><br>
<% @prices.each do |price| %>
  <%= "#{price.name} restaurants are in:" %>
  <%= price.area_with_price_x_restaurants %> <br><br>
<% end %><br><br>


BY OCCASION:
<br><br>
Highest number of:<br><br>
<% @occasions.each do |occasion| %>
  <%= "#{occasion.name} restaurants are in:" %>
  <%= occasion.area_with_occasion_x_restaurants %> <br><br>
<% end %><br><br>
