<%= render "search_form" %>

<h2> SEARCH RESULTS </h2>
<div>
<% @restaurants.each do |restaurant| %>
Name: <%= link_to restaurant.name, restaurant_path(restaurant) %> <br>
Address: <%= restaurant.address %> <br>
Hours: <%= restaurant.opening_hours %> <br>
Vibe: <%= restaurant.vibe %>  <br>
<%end %>
</div>
