<%= render "search_form" %>

<h1> List of all the Restaurants </h1>

<% @restaurants.each do |restaurant| %>
Name: <%= link_to restaurant.name, restaurant_path(restaurant) %> <br>
Address: <%= restaurant.address %> <br>
Hours: <%= restaurant.opening_hours %> <br>
Vibe: <%= restaurant.vibe %>  <br>
<%end %>
