<%= render "search_form" %>

<h2> SEARCH RESULTS </h2>
<div>
<% @restaurants.each do |restaurant| %>
<span id="boldything"><%= link_to restaurant.name, restaurant_path(restaurant) %></span> <br>
<%= restaurant.address %> <br>
Hours: <%= restaurant.opening_hours %> <br>
Vibe: <%= restaurant.vibe %>  <br><br><br>
<%end %>


</div>
