<div> <%= image_tag(@restaurant.image.url, class: "center") %></div>
<h2> <%= @restaurant.name %></h2 >

<div>
<%= @restaurant.description %> <br><br>
<span id="boldything">Don't Miss: </span> <%= @restaurant.speciality %> <br><br>
What's the vibe: <%= @restaurant.vibe %> <br><br>

<span class: "center">The Details:</span><br>
<%= @restaurant.address %> <br>
Opening hours: <%= @restaurant.opening_hours %> <br>
Closest tube station: <%= @restaurant.closest_tube_station %> <br><br>
<a href= <%= @restaurant.website_link %> > Go to their website </a>
</div>


<p> <%= link_to 'Not feeling it & wanna search again?', restaurant_home_path  %> </p><br><br>


<%= link_to ">> Feel like this restaurant page can be improved? <<", edit_restaurant_path %>
